<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MotionLayoutStudy"
        tools:targetApi="31">
        <activity
            android:name=".BasicMotionLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".SimpleMotionLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".transition.BeginDelayedTransitionWithConstraintLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".transition.GoActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.MotionLayoutStudy" />
        <activity
            android:name=".transition.TransitionAnimActivity"
            android:exported="false" />
        <activity
            android:name=".property.PropertyAnimActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>